
<div class="center jumbotron">
  <div class = "jumbotext">
    <h1>Welcome to Recipes apps</h1>
      
    <p>
      Post and Share Your Favorite Recipes Here
    </p>
      
    <%= link_to "Sign Up", register_path, class: "btn btn-large btn-success" %>
  </div> 
</div>

<div class="row">
  <div class="col-lg-6 center">
    <h3 class="midrow">
      View Recipes as Guest User
    </h3>
    <h2 class="midrow">
      Browse and View Recipes As Guest
    </h2>
    <p><%= link_to "Browse Recipe Listings", recipes_path, class: "btn btn-warning btn-small" %></p>
  </div>
  
  <div class="col-lg-6 center">
    <h3 class="midrow">
      Sign in to your account
    </h3>
    <h2 class="midrow">
      Log In To Add Your Recipes, Vote On Other Recipes and More!
    </h2>
    <p><%= link_to "Log in To Your Account", login_path, class: "btn btn-warning btn-small" %></p>
  </div>
  
</div>

